<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<!-- 潘永强 系统配置 请勿修改 start -->

	<display-name>cbb-server</display-name>
	<!-- 配置系统响应和请求的编码集 -->
	<context-param>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<!-- 配置监听器 -->
	<filter>
		<description>编码过滤器</description>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.apollo.cbb.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter>
		<description>不缓存过滤器</description>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>com.apollo.cbb.filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.user.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserUpdateInfoServelt</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.user.UserUpdateInfoServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFoodRecommendServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.store.AddFoodRecommendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelFoodRecommendServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.store.DelFoodRecommendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListFoodRecommendServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.store.ListFoodRecommendServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentDateServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.date.CommentDateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListCommentInfoServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.date.ListCommentInfoServlet</servlet-class>
  </servlet>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListMyFoodRecommendServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.store.ListMyFoodRecommendServlet</servlet-class>
  </servlet>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListCanDateRecommendServlet</servlet-name>
    <servlet-class>com.apollo.cbb.servlet.store.ListCanDateRecommendServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateInfoServelt</servlet-name>
    <url-pattern>/user/alter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFoodRecommendServlet</servlet-name>
    <url-pattern>/food/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelFoodRecommendServlet</servlet-name>
    <url-pattern>/food/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFoodRecommendServlet</servlet-name>
    <url-pattern>/food/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentDateServlet</servlet-name>
    <url-pattern>/date/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCommentInfoServlet</servlet-name>
    <url-pattern>/date/comment/list</url-pattern>
  </servlet-mapping>
  
	<servlet-mapping>
    <servlet-name>ListMyFoodRecommendServlet</servlet-name>
    <url-pattern>/food/list/myrec</url-pattern>
  </servlet-mapping>
	<!-- 潘永强 系统配置 请勿修改 end -->
  

	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>
